@import 'theme';

body {
	background-color: #f7f7f7;
}

textarea {
	resize: vertical;
	min-height: 200px;
}

.sk-monospace {
	font-family: $base-code-font-family !important;
}

@import 'uikit/src/scss/uikit-theme.scss';
@import 'image-compare-viewer/src/styles/index.scss';
@import 'highlight.js/scss/atom-one-dark';